.vs/config/applicationhost.config
.vs/OneTrackVenus/v14/.suo
*/**/obj/
*/**/bin/
packages/
Output/
*/**/*.csproj.user
**/nsb_log_*.txt
**/log*.txt
*.user
*/**/dist/
*/**/export/
*/**/node_modules/
*/**/jspm_packages/
*/**/typings/
.vs/
paket-files/
*.ncrunchsolution.user
*.ncrunchproject.user
_NCrunch_*
nCrunchTemp_*
.vs
*.user
*.suo
ReportingModule.v3.ncrunchsolution
NsbServer.ReportingModule/NsbServer.KingLivingInterface.csproj.DotSettings
NsbServer.ReportingModule/NsbServer.ReportingModule.csproj.user
NsbServer.ReportingModule/NsbServer.ReportingModule.csproj.DotSettings
/_NCrunch_ReportingModule*
