<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %-5level %logger  -  %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.ReportingModule.dev.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %-5level %logger  -  %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="ReportingModule" connectionString="Server=DESKTOP-29BI3TO;Database=REPORTING_DEV;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ReportingModuleDefaultSchema" value="REPORTING_DEV.dbo" />

    <!-- Nsb -->
    <add key="ServiceControl/Metrics" value="particular.reportingmodule.monitoring" />
    <add key="ServiceControl/Queue" value="particular.reportingmodule" />
    <add key="heartbeat/interval" value="00:00:10" />
    <add key="ImmediateRetries" value="1" />
    <add key="DelayedRetriesEnabled" value="false" />
    <add key="DelayedRetries" value="0" />
    <add key="DelayedRetriesTimeIncreaseSeconds" value="0" />

    <add key="TransportSchema" value="nsb" />
    <add key="Concurrency" value="1" />
    <add key="CacheSubscriptionsForMinutes" value="1" />

    <add key="EndpointName" value="nsbserver.reportingmodule" />
    <add key="ErrorQueue" value="error" />
    <add key="AuditQueue" value="audit" />

    <add key="ApiTransportSchema" value="nsb" />
    <add key="ApiCacheSubscriptionsForMinutes" value="1" />

    <add key="ApiEndpointName" value="web.reportingmodule" />
    <add key="ApiServerEndpointName" value="nsbserver.reportingmodule" />
    <add key="ApiErrorQueue" value="error" />
    <!-- /Nsb -->
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="5.2.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="12.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
