<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ReportingModuleDefaultSchema" value="REPORTING_QAS_TEST.dbo"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  <connectionStrings>
    <add name="ReportingModule" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" connectionString="Server=13.70.84.0;Database=REPORTING_QAS_TEST;User Id=rmsa;Password=33F2Khp+uN^>tn\v;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>